* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.mail-card {
  padding: 20px;
  background-color: #ffffff;
}

.mail-card::after {
  content: '';
  display: block;
  clear: left;
}

.mail-card-user {
  float: left;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 20px;
}

.mail-card-content {
  float: left;
}

.mail-card-content h1 {
  margin-bottom: 4px;
  color: #1f2d3d;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.mail-card-content strong {
  margin-bottom: 12px;
  color: #afb3b9;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: -0.02em;
}

.mail-card-content p {
  color: #79818b;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
